@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #11174A;
  scroll-behavior: smooth;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
